*{
    margin:0;
}

.border{
    width:40%;
    border-left: solid 2px black;
    margin-left: 25%;
    margin-top: 20px;
    padding-left:5%;
    padding-right:5%;
    border-right: solid 2px black;

}

.small-dp{
    width:40px;
    height:40px;
    border-radius: 100%;
    margin:5px 0px 5px 8px;
    float:left;
}

#small-un{
    font-weight:bold;
    padding-left:55px;
    padding-top:10px;
}

.post-img{
    width:100%;
    max-height: 600px;
    margin-top:0;
    object-fit: cover;
    border-bottom:0.5px solid grey;
}


.like-button {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.heart-icon {
    width: 30px;
    height: 30px;
    fill: #999; /* Default color */
    transition: fill 0.3s ease-out;
    margin-right: 5px;
}

.liked .heart-icon {
    fill: #e74c3c; /* Liked color */
}

.interact{
    margin-top:-5px;
}
.interact img{
    width:35px;
    margin:9px 10px 5px 10px;;
}

.single-post{
    border:3px red solid;
    margin-bottom: 40px;
    border:1px solid black;
    border-radius: 10px;
}

.single-post a{
    text-decoration: none;
    color:black;
}