.logout-button {
    width:60px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    color: white;
    background-color: #db3439;
    border: 0px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-left:94%;
    margin-top:-40px;
  }

.logout-button:hover {
    background-color: #b92929;
  }

nav div a{
  color:white;
  text-decoration: none;
  text-align:right
}

#left2 {
  margin-top:15px;
}

.left21{
  height:30px;
  background-color: white;
  border-radius:9px 9px 0 0;
}

#message-top{
  padding-top:5px;
  padding-bottom: 5px;
  font-weight: bolder;
  font-size: larger;
  font-family: Montserrat;
}

.cover {
  width:100%;
  height: 30%;
  border-radius: 9px 9px 0 0;
}
.dp{
  border-radius: 50%;
  border:4px solid white;
  width: 27%;
  margin-top:-43px;
}

#username {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

#bio{
  font-family: roboto;
  margin-top:5px;
  margin-bottom: 5px
}

.edit_button{
  width:40%;
  font-weight:bold;
  padding: 5px 0 5px 0;
  font-size: 80%;
  border:black solid 2px;
  border-radius:6px;
  cursor:pointer;
  transition: background-color 0.2s;
  margin-top:10px;
  margin-right:10px;
}
.edit_button:hover{
  background-color: black;
  color:white;
  border-color: white;
}

.followers table{
  text-align:center;
  width:80%;
  margin-top:10px;
  margin-left:auto;
  margin-right:auto;
}

.buttons{
  display:flex;
}
