.logout-button {
    width:60px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    text-decoration:none;
    cursor: pointer;
    color: white;
    background-color: #db3439;
    border: 0px;
    border-radius: 9px;
    transition: background-color 0.3s;
    margin-left:94%;
    margin-top:-40px;
  }

  .logout-button a{
    color:white;
    text-decoration:none;
  }

.logout-button:hover {
    background-color: #b92929;
  }

  .search-bar {
    margin-top: 10px;
    display: flex;
    width:40px;
    margin-left:45%
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border-radius:10px 0 0 10px;
    border:none;
}

.search-button {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius:0 7px 7px 0;
}

button:hover {
    background-color: #45a049;
}

.navbar{
  overflow: hidden;
  background-color: #333;
  margin:0;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #f3f3f3;
  color:black;
}

header{
  position:sticky;
  top:0;
}
