* {
    margin:0;
}

header {
    background-color: black;
    color:white;
    padding: 10px 0;
    max-width:110%;
}

nav li {
    display:inline;
    margin-right:20px;
}
.search {
    text-align: center;
    display:inline;
}

.profile{
    border-radius: 50%;
    width: 90px;
}
.left_panel{
    width:23%;
    height:100%;
    text-align: center;
    border : solid;
}