*{margin:0}

header {
    background-color: black;
    color:white;
    padding: 10px 0;
    max-width:110%;
}

nav{
    display:flex;
}

nav div{
    margin-right: 10px;
    margin-left:10px
}


.search {
    text-align: center;
    display: inline;
}


.left_panel{
    background-color: rgb(250, 247, 247);
    width:20%;
    height:40%;
    text-align: center;
    border : solid 0.5px grey;
    margin-top:5px;
    margin-left:8px;
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#logout {
    text-align:right;
    background-color:rgb(196, 4, 4)
}

.navbar a{
    color:white;
    text-decoration: none;
}

.search-bar {
    margin-top: 10px;
    display: flex;
    max-width: 400px;
    margin: 0 auto 0 auto;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border-radius:10px 0 0 10px;
    border:none
}

.search-button {
    padding: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius:0 7px 7px 0;
}

button:hover {
    background-color: #45a049;
}

.messages{
    height:18%;
    width:98%;
    margin:5px 2px 8px 2px;
    border:0.5px solid grey;
    border-radius: 10px;
    cursor: pointer;
}

.messages:hover{
    background-color:lightgrey;
}

.messages img{
    width:45px;
    height:45px;
    margin-top:4px;
    float: left;
    margin-left:4px;
    border-radius:50%;
    border:solid 1px;
}

.feed{
    height:100%;
    width:50%;
    background-color:red;
    margin-left:21.5%;
    margin-top:-40.9%;
    border-radius:10px;
}