*{margin:0}

header {
    background-color: black;
    color:white;
    padding: 10px 0;
    max-width:110%;
}

nav li {
    display:inline;
    margin-right:20px;
}
.search {
    padding-left: 100px;
    text-align: center;
    display: inline;
}

.profile{
    border-radius: 50%;
    width: 90px;
    margin-top:5px;
}
.left_panel{
    background-color: rgb(250, 247, 247);
    width:23%;
    height:40%;
    text-align: center;
    border : solid 1.3px;
    margin-top:3px;
    margin-left:4px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#logout {
    text-align:right;
    background-color:rgb(196, 4, 4)
}

.navbar a{
    color:white;
    text-decoration: none;
}
