*{margin:0}

.search {
    text-align: center;
    display: inline;
}

body{
    background-color:whitesmoke
}

.left_panel{
    float:left;
    background-color: rgb(250, 247, 247);
    width:20%;
    height:40%;
    text-align: center;
    border : solid 3px black;
    margin-top:18px;
    margin-left:8px;
    border-radius: 12px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#left2 {
    margin-top:330px;
    margin-left:-309px;
  }
  
  .left21{
    height:30px;
    background-color: white;
    border-radius:9px 9px 0 0;
    margin-bottom:px;
  }
  
  #message-top{
    padding-top:5px;
    padding-bottom: 5px;
    font-weight: bolder;
    font-size: larger;
    font-family: Montserrat;
  }
  
  .cover {
    width:100%;
    height: 30%;
    border-radius: 9px 9px 0 0;
  }
  .dp{
    border-radius: 50%;
    border:4px solid white;
    width: 27%;
    margin-top:-43px;
  }
  
  #username {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
  }
  
  #bio{
    font-family: roboto;
    margin-top:5px;
    margin-bottom: 5px
  }
  
  .edit_button{
    width:40%;
    font-weight:bold;
    padding: 5px 0 5px 0;
    font-size: 80%;
    border:black solid 2px;
    border-radius:6px;
    cursor:pointer;
    transition: background-color 0.2s;
    margin-top:10px;
    margin-right:10px;
  }
  .edit_button:hover{
    background-color: black;
    color:white;
    border-color: white;
  }
  
  .followers table{
    text-align:center;
    width:80%;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
  }
  
  .buttons{
    display:flex;
  }
  

  *{
    margin:0;
  }
  .right-panel{
    width:20%;
    float:right;
    height:45.7%;
    border:3px solid black;
    border-radius:10px;
    margin-top:20px;
    margin-right:15px;
  }
  
  .right-1{
    background-color:white;
    border-radius:7px 7px 0 0;
    padding-bottom: 2px;
  }
  .right-1 p{
    text-align: center;
    padding-top:6px;
    margin-bottom:6px;
    font-weight: bolder;
    font-size: larger;
    font-family: Montserrat;
  }
  
  .s-name img{
    width:45px;
    height:45px;
    border-radius: 50%;
    object-fit: cover;
    float: left;
    margin:7px;
    margin-top:-6px;
  }
  
  .s-name p{
    margin-top:12px;
    font-weight: bold;
  }
  
  .s-name button{
    width:25%;
    background-color:navy;
    color:white;
    border-radius: 7px;
    padding-top:5px;
    float: right;
    margin-top:-20px;
    margin-right:10px;
  }



.messages{
    height:18%;
    width:98%;
    margin:5px 2px 8px 2px;
    border:0.5px solid grey;
    border-radius: 10px;
    cursor: pointer;
    background-color:whitesmoke
}

.messages:hover{
    background-color:lightgrey;
}

.messages img{
    width:45px;
    height:45px;
    margin-top:4px;
    float: left;
    margin-left:4px;
    border-radius:50%;
    border:solid 1px;
}

.switch{
  width:40%;
  margin-left: auto;
  margin-right:auto;
  margin-top:15px;
}
.following{
  width:49%;
  height:30px;
  border-radius:30px;
  font-size: 16px;
  font-weight: bold;
}

.following:hover{
  cursor:pointer;
  background-color: grey;
  color:white;
}

.global{
  width:49%;
  height:30px;
  border-radius:30px;
  font-size: 16px;
  font-weight: bold;
  margin-left:5px;
}

.global:hover{
  cursor:pointer;
  background-color: grey;
  color:white;
}